<app-header titulo="cards"></app-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>   
    
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod ea quos libero magni porro natus facilis sed? Reprehenderit neque magnam voluptas velit culpa tempora asperiores sit! Optio, nemo recusandae.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img src="https://i.blogs.es/b54943/god1/840_560.jpg" alt="kratos">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, ducimus totam quos quidem ab dignissimos officiis praesentium eius amet, iste minima corrupti voluptatum reprehenderit, adipisci corporis tenetur cumque tempore incidunt.
    </ion-card-content>

  </ion-card>

</ion-content>
